<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="description" content="..." />
    	<meta name="keywords" content="ben,portfolio,brussels,programming,git," />
    	<meta name="author" content="Ben" />
    	<meta name="language" content="en" />
    	<meta name="robots" content="index, follow" />
	
		<title>{{ page.title }}</title>

		<link rel="stylesheet" type="text/css" href="./css/master.css" />
	</head>
	<body>
		<div id="wrapper">
		{{ content }}
		</div>
	</body>
</html>
